.carros-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sobre-nos {
    display: block;
    background-color: rgb(227, 255, 246);
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 173, 173);
    max-width: 400px;
    text-align: center;
    color: #000;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 236, 236);
}

.carros img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  z-index: 1;
}

#titulo {
    text-align: center;
    width: 600px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(180, 209, 212);
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.carros {
    position: relative;
    overflow: hidden;
    max-width: 450px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 173, 173);
    text-align: center;
    gap: 10px;
}

.carros p {
    padding: 25px;
}

h2 {
     background-color: rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 173, 173);
    padding: 5px 10px;
    margin-top: 0px;
    margin-bottom: -5px;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
}

footer a {
    color: black;
}