body{
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo-eden {
    background-color: rgb(188, 221, 188);
    width: auto;
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
}

#link-sobre {
    display: block;
    color: black;
    background-color: hsl(84, 85%, 92%);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.titulos-animais{
    padding: 10px 60px;
    font-size: 30px;
    background-color: rgb(241, 241, 241);
    margin: 30px;
    border-radius: 50px;
    border: 2px solid black;
}

.artigos {
    background-color: rgb(146, 175, 165);
    border-radius: 50px;
    overflow: hidden;
    margin: 20px;
}

article p {
    padding: 20px 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align:center;
    background-color: hsl(84, 85%, 92%);
    margin: 30px;
    border-radius: 50px;
    border: 2px solid black;
}

ul {
    padding: 20px 80px;
    font-size: 18px;
    max-width: 1000px;
    margin: 20px 40px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
}

.imagens {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    -webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
    mask-image: linear-gradient(to top, black 70%, transparent 100%);
}

footer {
    background-color: rgb(241, 241, 241);
    padding: 20px 20px;
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
}
