#titulo-pomar {
    font-size: 50px;
    background-color: rgb(210, 219, 194);
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}

#link-destaque {
    display: block;
    background-color: rgb(54, 66, 54);
    color: beige;
    padding: 10px;
    text-align: center;
}

.titulos-frutas {
    font-size: 30px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 30px;
}

body {
    font-family: 'Tahoma';
    background-color: beige;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.texto-frutas  {
    font-style: italic;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

.imagens {
    display: block;
    width: 700px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 0 auto;
}

.titulos-beneficios {
    font-size: 120%;
    font-weight: bold;
}

li {
    max-width: 690px;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 20px;
}

#instagram-link {
    color: white;
    background-color: rgb(225, 48, 108);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

#facebook-link {
    color: white;
    background-color: rgb(66, 103, 178);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}